In [1]:
import pandas as pd

# EventsAdapt

In [2]:
data_ea = pd.read_csv("clean_EventsAdapt_SentenceSet.csv")
data_ea

,ItemNum,Sentence,Plausibility,Voice,TrialType,SynonymPair,NumSyn
0,1,The raider caught the illness.,Plausible,active,AI,1.0,Version1
1,1,The illness caught the raider.,Implausible,active,AI,1.0,Version1
2,1,The illness was caught by the raider.,Plausible,passive,AI,1.0,Version1
3,1,The raider was caught by the illness.,Implausible,passive,AI,1.0,Version1
4,2,The marauder contracted the disease.,Plausible,active,AI,1.0,Version2
...,...,...,...,...,...,...,...
1559,415,The plumber was devastated by the foreman.,Implausible,passive,AAR,NaN,NaN
1560,416,The sergeant identified the sniper.,Plausible,active,AAR,NaN,NaN
1561,416,The sniper identified the sergeant.,Implausible,active,AAR,NaN,NaN
1562,416,The sniper was identified by the sergeant.,Plausible,passive,AAR,NaN,NaN
1563,416,The sergeant was identified by the sniper.,Implausible,passive,AAR,NaN,NaN

## number of items per condition

In [3]:
summe = 0
for tt in ["AI", "AAN", "AAR"]:
    sub_dat = data_ea.loc[data_ea["TrialType"] == tt]
    print(f"{tt} | {int(len(sub_dat)/4)}")
    summe += len(sub_dat)
print(summe)
print(summe/4)

AI | 128
AAN | 129
AAR | 134
1564
391.0

## number of synonym items

In [4]:
summe = 0
syn_data = data_ea.loc[~data_ea["SynonymPair"].isna()]
for tt in ["AI", "AAN", "AAR"]:
    sub_dat = syn_data.loc[syn_data["TrialType"] == tt]
    print(f"{tt} | {int(len(sub_dat)/4)}")
    summe += len(sub_dat)
print(summe)
print(summe/4)

AI | 76
AAN | 86
AAR | 87
996
249.0

# EventsRev

In [5]:
data_er = pd.read_csv("clean_EventsRev_SentenceSet.csv")
data_er

,ItemNum,Sentence,Plausibility,Voice
0,1,The cop is arresting the criminal.,Plausible,active
1,1,The criminal is arresting the cop.,Implausible,active
2,2,The babysitter is scolding the child.,Plausible,active
3,2,The child is scolding the babysitter.,Implausible,active
4,3,The doctor is using a stethoscope on the patient.,Plausible,active
...,...,...,...,...
71,38,The princess is measuring the tailor.,Implausible,active
72,39,The lifeguard is saving the grandmother.,Plausible,active
73,39,The grandmother is saving the lifeguard.,Implausible,active
74,40,The chauffeur is opening the door for the lady.,Plausible,active
75,40,The lady is opening the door for the chauffeur.,Implausible,active

In [6]:
print(int(len(data_er)/2))

38

# DTFit

In [7]:
data_dt = pd.read_csv("clean_DTFit_SentenceSet.csv")
data_dt

     ItemNum                         Sentence Plausibility   Voice
0          1         The actor won the award.    Plausible  active
1          1        The actor won the battle.  Implausible  active
2          2     The anchorman told the news.    Plausible  active
3          2  The anchorman told the parable.  Implausible  active
4          3       The animal found the food.    Plausible  active
..       ...                              ...          ...     ...
785      395     The woman carried the stone.  Implausible  active
786      396        The woman opened the bag.    Plausible  active
787      396    The woman opened the manhole.  Implausible  active
788      397   The woman painted the toenail.    Plausible  active
789      397      The woman painted the sign.  Implausible  active

[790 rows x 4 columns]

In [8]:
print(int(len(data_dt)/2))

395